@font-face {
    font-family: slogan;
    src:url(../fontes/Rumble\ Brave.otf);
}
@font-face{
    font-family: roboto;
    src: url(../fontes/Roboto-Black.ttf);
}
@font-face{
    font-family: robotoItalico;
    src: url(../fontes/Roboto-LightItalic.ttf);
}
@font-face{
    font-family: robotoNormal;
    src: url(../fontes/Roboto-Light.ttf);
}
@font-face{
    font-family: robotoSerif;
    src: url(../fontes/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf);
}
@font-face{
    font-family: robotoRegular;
    src: url(../fontes/Roboto-Regular.ttf);
}

*{
    margin: 0;
    background-color: #cfcfcf;
    
}

.topo{
    display: flex;
    background-color: #c2c1c1;
    
}
.logo{
    flex: 1;
    background-color: #c2c1c1;
    text-align: left;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 7px;
}
.navbar{
    flex: 1;
    background-color: #c2c1c1;
    text-align: right;
    padding-right: 90px;
    padding-top: 45px;
    margin-bottom: 50px;
}
#logotipo{
    background-color: #c2c1c1;
    
}
#redirecionar1, #redirecionar2, #redirecionar3{
    background-color: #c2c1c1;
    text-decoration: none;
    color: black;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: robotoItalico;
    
    
}
#redirecionar4{
    margin-left: 20px;
    background-color: #c2c1c1;
    text-decoration: none;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#redirecionar1:hover, #redirecionar2:hover, #redirecionar3:hover, #redirecionar4:hover{
    text-decoration: underline;
}
.links{
    text-align: center;
    background-color: #8D8F8C;
    height: 38px;
    padding-top: 15px;
}
#fechado, #aberto, #viseira, #flip{
    background-color: #8D8F8C;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-weight: bold;
    font-size: 17px;
    font-family: robotoItalico;
    
}
#fechado:hover, #aberto:hover, #viseira:hover, #flip:hover{
    text-decoration: underline;
    
}
.titulo{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: roboto;
}

.capacetesAbertos, .capacetesFechados{
    display: flex;
    
}
#img1, #img2, #img3, #img4{
    flex: 1;
    text-align: center;
    margin-bottom: 35px;
    
} 
#img1:hover, #img2:hover, #img3:hover{
    border: solid 0.5px black;
}
.tituloDaArea{
    text-align: left;
    margin-bottom: 20px;
    color: black;
    margin-top: 50px;
    font-family: robotoItalico;
    
}
#cpa, #cpf, #vs, #fp{
    padding-left: 90px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}

#marcaDoCapacete{
    color: gray;
    text-align: left;
    margin-top: 5px;
    margin-left: 47px;
    font-family: robotoSerif;
    font-size: 13px;
    line-height: 20px;
}
#marcaDoCapacete:hover{
    color: #191919;
    cursor: default;
}

#nomeDoCapacete{
    color: black;
    font-family: robotoSerif;
    font-size: 18px;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
#nomeDoCapacete:hover{
    color: rgb(255, 167, 0);
}

#precoDoCapacete{
    color: rgb(255, 167, 0);
    font-family: robotoRegular;
    font-size: 26px;
    line-height: 31px;
    cursor: pointer;
    font-weight: bold;
}

#metodoDePagamento{
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: black;
}

#parcelarPagamento{
    color: rgb(99, 98, 98);
    font-family: robotoNormal;
    font-size: 10px;
    line-height: 12px;
}
#linkandoProdutos{
    text-decoration: none;
}

.rodape{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(2, 2, 2);
    height: 140px;
    border-top: rgb(255, 167, 0) 4px solid;
}
.cont1{
    background-color:black;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}
#categoria{
    background-color: black;
    color: rgb(255, 167, 0);
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;    
    font-weight: bold;
}
#acesso{
    background-color: black;
    color: white;
    line-height: 25px;
    text-decoration: none;   
}
.traco{
    background-color: rgb(255, 167, 0);
    height: 2px;
    margin-left: 100px;
    margin-right: 100px;
}
#fundoRodape{
    background-color: black;
}
.widgets{
    height: 30px;
    background-color: black;
}
#botaoEmail{
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    height: 35px;
    background-color: rgb(255, 167, 0);
}
#caixaEmail{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 30px;
}