*{
    margin: 0;
    background-color: #cfcfcf
}

.topo{
    display: flex;
    
}
.logo{
    flex: 1;
    background-color: #c2c1c1;
    text-align: left;
}
.navbar{
    flex: 1;
    background-color: #c2c1c1;
    text-align: right;
    padding-right: 90px;
    padding-top: 50px;
}
#logotipo{
    background-color: #c2c1c1;
}
#redirecionar1, #redirecionar2, #redirecionar3, #redirecionar4{
    background-color: #c2c1c1;
    text-decoration: none;
    color: black;
    margin-right: 20px;
    text-decoration: underline;
    font-size: 20px;
    
}

.links{
    text-align: center;
    background-color: #8D8F8C;
    height: 38px;
    padding-top: 15px;
}

#fechado, #aberto, #viseira, #flip{
    background-color: #8D8F8C;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    
}
#fechado:hover, #aberto:hover, #viseira:hover, #flip:hover{
    background-color: black;
    color: #cfcfcf;
}

.linha{
    display: flex;
    
}

.imagemGrande{
    text-align: right;
}

.slogan{
    padding-top: 80px;
    padding-left: 60px ;
}

.slogan, .imagemGrande{
    flex: 1;
}

.titulo{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.capacetesAbertos, .capacetesFechados{
    display: flex;
    
}
#img1, #img2, #img3{
    flex: 1;
    text-align: center;
} 

.tituloDaArea{
    text-align: left;
    margin-bottom: 20px;
    margin-left: 90px;
    margin-top: 50px;
}
