@font-face {
    font-family: slogan;
    src:url(../fontes/Rumble\ Brave.otf);
}
@font-face{
    font-family: roboto;
    src: url(../fontes/Roboto-Black.ttf);
}
@font-face{
    font-family: robotoItalico;
    src: url(../fontes/Roboto-LightItalic.ttf);
}
@font-face{
    font-family: robotoNormal;
    src: url(../fontes/Roboto-Light.ttf);
}
@font-face{
    font-family: robotoRegular;
    src: url(../fontes/Roboto-Regular.ttf);
}
@font-face{
    font-family: robotoSerif;
    src:url(../fontes/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf)
}
@font-face{
    font-family: poppins;
    src:url(../fontes/Poppins/Poppins-Thin.ttf)
}
*{
    margin: 0;
    background-color: #cfcfcf;
    
}

.topo{
    display: flex;
    background-color: #c2c1c1;
    
}
.logo{
    flex: 1;
    background-color: #c2c1c1;
    text-align: left;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 7px;
}
.navbar{
    flex: 1;
    background-color: #c2c1c1;
    text-align: right;
    padding-right: 90px;
    padding-top: 45px;
}
#logotipo{
    background-color: #c2c1c1;
    
}
#redirecionar1, #redirecionar2, #redirecionar3{
    background-color: #c2c1c1;
    text-decoration: none;
    color: black;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: robotoItalico;
    
    
}
#redirecionar4{
    margin-left: 20px;
    background-color: #c2c1c1;
    text-decoration: none;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#redirecionar1:hover, #redirecionar2:hover, #redirecionar3:hover, #redirecionar4:hover{
    text-decoration: underline;
}

.areaDaCompra{
    display: flex;
    height: 450px;
    max-width: 80%;
    text-align: center;
    margin-left: 130px;
    margin-top: 30px;
}
.compra, .imagem{
    flex: 1;
    height: 100%;
}

.imagem{
    overflow: hidden;
}
#capacete:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.nomeDoCapacete{
    margin-top: 60px;
    text-align: left;
    margin-left: 56px;
    font-size: 25px;
    line-height: 34px;
    font-family: robotoNormal;
    font-weight:bolder;
}

#modeloDoCapacete{
    margin-top: 34px;
    color: gray;
    text-align: left;
    margin-left: 56px;
}
.preço{
    text-align: left;
    margin-top: 20px;
    font-size: 50px;
}
#preçoDoCapacete{
    font-size: 500px;
    font-family: poppins;
    color: black;
    font-weight: bold;
    font-weight: bold;
    
}
#formaDePagamento{
    color: black;
    font-size: 14px;
    line-height: 9px;
}
.formulario{
    
    text-align: left;
    margin-left: 56px;
    margin-top: 25px;
}
label{
    color: gray;
    text-align: left;
    margin-right: 10px;
}
.tamanho{
    display: flex;
    align-items: center;
}
select{
    border: 1px solid black;
    padding: 3px;
    -webkit-appearance:none;
    color: black;
    font-weight: bold;
}
option{
    border: 0px solid;
}
select:hover{
    background-color:rgb(138, 138, 138);
    color: black;
}

.quantidade{
    padding: 6px;
    width: 32px;
    font-size: 25px;
    -webkit-appearance: none;
    border: 1px solid black;
    color: rgb(117, 115, 115);
    flex: 1;
}
#enviar{
    padding: 6px;
    box-shadow: 3px 3px 5px black;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
    font-weight:bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
#enviar:hover{
    background-color: rgb(138, 138, 138);
    
}




.rodape{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(2, 2, 2);
    height: 140px;
    border-top: #8d8f8c 4px solid;
}
.cont1{
    background-color:black;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}
#categoria{
    background-color: black;
    color:#8d8f8c;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;    
    font-weight: bold;
}
#acesso{
    background-color: black;
    color: white;
    line-height: 25px;
    text-decoration: none;   
}
.traco{
    background-color: #8d8f8c;
    height: 2px;
    margin-left: 100px;
    margin-right: 100px;
}
#fundoRodape{
    background-color: black;
}
.widgets{
    height: 30px;
    background-color: black;
}
#botaoEmail{
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    height: 35px;
    background-color: #8d8f8c;
}
#caixaEmail{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 30px;
}
.formEmail{
    background-color: black;
}