
@font-face{
    font-family: roboto;
    src: url(../../fontes/Roboto-Black.ttf);
}
*{
    margin: 0;
    
}
.container{
    width: 100vw;
    height: 100vh;
    background: #cfcfcf;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
form{
    width: 310px;
    height: 320px;
    background: #c2c2c1;
    text-align: center;
    box-shadow: 5px 5px 3px 0px gray;
}
.titulo{
    margin-bottom: 27px;
    margin-top: 30px;
}
h1{
    font-family: roboto;
}
p #email{
    margin-bottom: 20px;
}
p #senha{
    margin-bottom: 5px;
}
#telefone{
    margin-top: 20px;
    
}
#email, #senha, #telefone{
    padding: 13px;
    font-size: 15px;
}
#link{
    text-decoration: none;
    font-size: 13px;
    color: black;
}
#link:hover{
    text-decoration: underline;
}
.naoTemConta{
    margin-bottom: 30px;
    text-align: right;
    margin-right: 50PX;
}
button{
    padding: 8px 40px;
    font-size: 15px;
}
img{
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
    margin-left: -50px;
}