@font-face {
    font-family: slogan;
    src:url(../fontes/Rumble\ Brave.otf);
}
@font-face{
    font-family: roboto;
    src: url(../fontes/Roboto-Black.ttf);
}
@font-face{
    font-family: robotoItalico;
    src: url(../fontes/Roboto-LightItalic.ttf);
}
@font-face{
    font-family: robotoNormal;
    src: url(../fontes/Roboto-Light.ttf);
}
@font-face{
    font-family: robotoRegular;
    src: url(../fontes/Roboto-Regular.ttf);
}
@font-face{
    font-family: robotoSerif;
    src:url(../fontes/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf)
}
*{
    margin: 0;
    background-color: #cfcfcf;
    
}

.topo{
    display: flex;
    background-color: #c2c1c1;
    
}
.logo{
    flex: 1;
    background-color: #c2c1c1;
    text-align: left;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 7px;
}
.navbar{
    flex: 1;
    background-color: #c2c1c1;
    text-align: right;
    padding-right: 90px;
    padding-top: 45px;
}
#logotipo{
    background-color: #c2c1c1;
    
}
#redirecionar1, #redirecionar2, #redirecionar3{
    background-color: #c2c1c1;
    text-decoration: none;
    color: black;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: robotoItalico;
    
    
}
#redirecionar4{
    margin-left: 20px;
    background-color: #c2c1c1;
    text-decoration: none;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#redirecionar1:hover, #redirecionar2:hover, #redirecionar3:hover, #redirecionar4:hover{
    text-decoration: underline;
}

.areaDaCompra{
    display: flex;
    height: 450px;
    max-width: 80%;
    text-align: center;
    margin-left: 130px;
    margin-top: 30px;
}
.compra, .imagem{
    flex: 1;
    height: 100%;
}
.imagem{
    overflow: hidden;
}
#capacete:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#nomeDoCapacete{
    margin-top: 60px;
    text-align: left;
    margin-left: 56px;
    font-size: 25px;
    line-height: 34px;
    font-family: robotoNormal;
    font-weight:bolder;
}

#modeloDoCapacete{
    margin-top: 34px;
    color: gray;
    text-align: left;
    margin-left: 56px;
}
#tituloTamanho{
    margin-top: 42px;
    text-align: left;
    margin-left: 56px;
    color: gray;
    font-size: 16px;
    line-height: 20px;
}
.tamanhoDoCapacete{
    display: flex;
    margin-left: 56px;
}
#quadradinho{
    border: 1px solid blue;
    margin-right: 4px;
    font-size: 18px;
    padding: 4px;
}
#quadradinho:hover{
    border: 1px solid black;
    cursor: pointer;
}
.pagar{
    display: flex;
    margin-top: 33px;
    margin-left: 56px;
}
.preço, .quantidade, .comprar{
    flex: 1;
}
.preço{
    text-align: left;
}
#preçoDoCapacete{
    font-size: 30px;
    font-family: robotoSerif;
    color: blue;
    font-weight: bold;
    
}
#formaDePagamento{
    color: gray;
    font-size: 14px;
    line-height: 9px;
}
.quantidade{
    display: flex;
}
#numeroDeCapacete{
    border: 1px solid blue;
    font-size: 24px;
    padding: 12px;
    font-weight: bold;
    font-family: roboto;
    margin-left: 40px;
}
.maisMenos{
    border: 1px solid green;
    width: 25px;
    background-color: blue;
}
#mais, #menos{
    font-size: 21.88px;
    font-weight: bold;
    background-color: blue;
    color: white;
    font-family: roboto;
}
#mais:hover, #menos:hover{
    color: blue;
    cursor: pointer;
}


.botaoDeCompra{
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    font-family: robotoSerif;
    font-weight: bold;
    font-size: 28px;
    text-decoration:none;
    line-height: 50px;
    background-color: blue;
    color: white;
}
.botaoDeCompra:hover{
    background-color: rgb(3, 3, 138);
}

.rodape{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(2, 2, 2);
    height: 140px;
    border-top: #8d8f8c 4px solid;
}
.cont1{
    background-color:black;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}
#categoria{
    background-color: black;
    color:#8d8f8c;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;    
    font-weight: bold;
}
#acesso{
    background-color: black;
    color: white;
    line-height: 25px;
    text-decoration: none;   
}
.traco{
    background-color: #8d8f8c;
    height: 2px;
    margin-left: 100px;
    margin-right: 100px;
}
#fundoRodape{
    background-color: black;
}
.widgets{
    height: 30px;
    background-color: black;
}
#botaoEmail{
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    height: 35px;
    background-color: #8d8f8c;
}
#caixaEmail{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 30px;
}
.formEmail{
    background-color: black;
}