
@font-face {
    font-family: slogan;
    src:url(../fontes/Rumble\ Brave.otf);
}
@font-face{
    font-family: roboto;
    src: url(../fontes/Roboto-Black.ttf);
}
@font-face{
    font-family: robotoItalico;
    src: url(../fontes/Roboto-LightItalic.ttf);
}
@font-face{
    font-family: robotoNormal;
    src: url(../fontes/Roboto-Light.ttf);
}
@font-face{
    font-family: robotoRegular;
    src: url(../fontes/Roboto-Regular.ttf);
}
@font-face{
    font-family: poppins;
    src:url(../fontes/Poppins/Poppins-Thin.ttf)
}
*{
    margin: 0;
    background-color: grey;
    
}
.titulo{
    
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 15px;
    margin-bottom: 30PX;
    font-family: poppins;
}




thead{
    background-color: grey;
    margin: 0;
    padding: 0;
}



th{
    font-family: poppins;
}
.prod-escolher{
    min-width: 500px;
    max-width: 500px;
    font-family: poppins;

}

img{
    padding: 15px;
}
.produto2{
    padding: 0px 15px;
    font-size:22px;
    font-family: robotoNormal;
}
.quantidade{
    text-align: center;
    font-size: 22px;
    max-width: 35px;
    font-family: robotoNormal;
}
.remover{
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 32px;
    bottom: -50px;
    margin-left: 10px;
    background-color: rgb(160, 21, 21);
    color: rgba(204, 201, 201, 0.637);
    border-radius: 10px;
    font-family: roboto;
}
.quantos{
    display: flex;
    margin-top: 40px;
}
.quantos .quantidade{
    max-height: 35px;
}
.finalizar{
    padding: 5px;
    font-size: 10px;
    font-family: poppins;
}




.valor{
    border: 20px solid black;
    
}














.rodape{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(2, 2, 2);
    height: 140px;
    border-top: #8d8f8c 4px solid;
    margin-top: 200px;
}
.cont1{
    background-color:black;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}
#categoria{
    background-color: black;
    color:#8d8f8c;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;    
    font-weight: bold;
}
#acesso{
    background-color: black;
    color: white;
    line-height: 25px;
    text-decoration: none;   
}
.traco{
    background-color: #8d8f8c;
    height: 2px;
    margin-left: 100px;
    margin-right: 100px;
}
#fundoRodape{
    background-color: black;
}
.widgets{
    height: 30px;
    background-color: black;
}
#botaoEmail{
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    height: 35px;
    background-color: #8d8f8c;
}
#caixaEmail{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 30px;
}
.formEmail{
    background-color: black;
}