@font-face {
    font-family: slogan;
    src:url(../fontes/Rumble\ Brave.otf);
}
@font-face{
    font-family: roboto;
    src: url(../fontes/Roboto-Black.ttf);
}
@font-face{
    font-family: robotoItalico;
    src: url(../fontes/Roboto-LightItalic.ttf);
}
@font-face{
    font-family: robotoNormal;
    src: url(../fontes/Roboto-Light.ttf);
}
@font-face{
    font-family: robotoRegular;
    src: url(../fontes/Roboto-Regular.ttf);
}
@font-face{
    font-family: poppins;
    src:url(../fontes/Poppins/Poppins-Thin.ttf)
}
*{
    margin: 0;
    background-color: #cfcfcf;
    
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
body::-webkit-scrollbar-track {
    background: #cfcfcf;        
  }  
body::-webkit-scrollbar-thumb{
    background-color: #8d8f8c;
    border-radius: 20px;
    border-left:2px solid #cfcfcf;
    border-right:2px solid #cfcfcf;
    width: 50%;
    margin: 0;
    
  }
.topo{
    display: flex;
    background-color: #c2c1c1;
    
}
.logo{
    flex: 1;
    background-color: #c2c1c1;
    text-align: left;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 7px;
}
.navbar{
    flex: 1;
    background-color: #c2c1c1;
    text-align: right;
    padding-right: 90px;
    padding-top: 45px;
}
#logotipo{
    background-color: #c2c1c1;
    
}
#redirecionar1, #redirecionar2, #redirecionar3{
    background-color: #c2c1c1;
    text-decoration: none;
    color: black;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: robotoItalico;
    
    
}
#redirecionar4{
    margin-left: 20px;
    background-color: #c2c1c1;
    text-decoration: none;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#redirecionar1:hover, #redirecionar2:hover, #redirecionar3:hover, #redirecionar4:hover{
    text-decoration: underline;
}
#minhaConta{
    background-color: #c2c1c1;
}
.links{
    height: 6px;
    padding-top: 15px;
    background-color: #8d8f8c;
}

@keyframes alternar {
    0%{
        background-image: url(../img/imagine_image_07b5b446-f370-4614-b13f-1d3476f286ad.PNG);
    }
    50%{
        background-image: url(../img/natal1.png);
    }
    100%{
        background-image: url(../img/imagine_image_07b5b446-f370-4614-b13f-1d3476f286ad.PNG);
    }
}
.anuncio{
    display: flex;
    overflow-x: auto;
    background-color: #cfcfcf;
    animation: alternar 17s infinite;
    animation-delay: 3s;
    animation-direction: left;
    height: 580px;
    width: 100%;
    background-image: url(../img/imagine_image_07b5b446-f370-4614-b13f-1d3476f286ad.PNG);
    
}

.container{
    text-align: center;
}
#topoDoTopo{
    height: 100vh;
    background-color: #c2c1c1;
}
.container img{
    height: auto;
    margin-top: 5px;
}
.avisos{
    display: flex;
    background-color:#8d8f8c ;
    
}
.avisos .icones{
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background-color:#8d8f8c ;
}
.avisos .icones p{
    padding-left: 7px;
    background-color:#8d8f8c ;
    color: black;
}
.avisos .icones strong{
    background-color:#8d8f8c ;
}
.avisos .icones img{
    background-color: #8d8f8c;
}
.linha{
    display: flex;
    background-image: linear-gradient(to top, #cfcfcf 90% , #c2c1c1 ) ;
    position: absolute;
    bottom: 0;
    
}

.imagemGrande{
    text-align: right;
}

.slogan{
    padding-top: 80px;
    padding-left: 60px ;
    background-image: linear-gradient(to top, #cfcfcf 90% , #c2c1c1 ) ;
    font-size: 20px;
    font-family: slogan;
}

.slogan{
    margin-left: 40px;
}
.slogan, .imagemGrande{
    flex: 1;
}
.titulo{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: poppins;
}

.capacetesAbertos, .capacetesFechados{
    display: flex; 
    justify-content: center;
}
#img1, #img2, #img3{
    text-align: center;
    margin-bottom: 2px;
    width: 300px;
} 
#img1:hover, #img2:hover, #img3:hover{
    border-bottom: 2px black solid;
    margin-bottom: 0px;
}
.conferir{
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
   
}
#conferirProdutos{
    background-color: #8d8f8c;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    font-size: 19px;
    font-family: roboto;
    letter-spacing: 1px;
    box-shadow: 4px 4px 2px 0px black;
}
#conferirProdutos:hover{
    background-color: gray;
    transition: 0.1s linear;
    
}
.tituloDaArea{
    text-align: left;
    padding-left: 90px;
    margin-top: 50px;
    font-family: poppins;
    font-size: 14px;
    margin-bottom: -5px;
}

.descricaoDosCapacetes{
    display: flex;
    background-color: #8d8f8c ;

}
#tituloTextoCapacete{
    text-align: center;
    font-family: robotoRegular;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.textoCapacetes{
    background-color:#8d8f8c ;
    margin-left: 10px;
}
.ImagemCapacete{
    display: flex;
}
.rodape{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(2, 2, 2);
    height: 140px;
    border-top: #8d8f8c;
}
.cont1{
    background-color:black;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}
#categoria{
    background-color: black;
    color: #8d8f8c;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;    
    font-weight: bold;
}
#acesso{
    background-color: black;
    color: white;
    line-height: 25px;
    text-decoration: none;   
}
.traco{
    background-color: #8d8f8c;
    height: 2px;
    margin-left: 100px;
    margin-right: 100px;
}
#fundoRodape{
    background-color: black;
}
.widgets{
    height: 30px;
    background-color: black;
}
#botaoEmail{
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    height: 35px;
    background-color: #8d8f8c;
}
#caixaEmail{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 30px;
}
.formEmail{
    background-color: black;
}
